{% extends "base.html.j2" %}

{% block content %}
    <header class="jumbotron my-4">
      <h1 class="display-3">El Niño Student System</h1>
      <p class="lead">Student Homepage</p>
    </header>

    <h2>My Courses</h2><br/>
    {% for i, c in courses %}

    {% if i % 4 == 0 %}
    <div class="row text-center">
    {% endif %}

      <div class="col-lg-3 col-md-3 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">{{ c.course.name }}</h4>
            <p class="card-text">
            </p>
          </div>
        </div>
      </div>

    {% if i % 4 == 3 %}
    </div>
    {% endif %}

    {% endfor %}

    <a href="#" class="btn btn-primary">Enroll into a new course</a>

{% endblock content %}
