{% extends "base.html.j2" %}

{% block content %}
    <header class="jumbotron my-4">
      <h1 class="display-3">El Niño Student System</h1>
      <p class="lead">Student Homepage</p>
    </header>

    <h2>My Courses</h2><br/>
    {% include 'courses/includes/course_listing.html.j2' %}

    <a href="{{ url_for('courses.home') }}" class="btn btn-primary">Enroll into a new course</a>

{% endblock content %}
